@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=ZCOOL+QingKe+HuangYou&display=swap');

body {
    background-color: #400D51;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.titulo {
    font-family: 'Press Start 2P', cursive;
    color:#31E1F7;
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin: 34px;
    
}

.subtitulo {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: #FF7777;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.tarjetas{
    display: flex;
    gap: 14px;
    justify-content: center;
}

.tarjeta-de-mokepon {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    width: 144px;
    height: 188px;
    background: transparent;
    padding: 0px;
    box-sizing: border-box;
    margin: 8px;
    border: 1px solid #D800A6;
    border-radius: 20px;
    display: flex;
    color: white;
    flex-direction: column-reverse;
    align-items: center;
    border-width: medium;
    
}

.tarjeta-de-mokepon img{
    width: 124px;
    height: 124px;
    display: flex;
}

#boton-mascota {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: #31E1F7;
    width: 95px;
    height: 38px;
    background: #400D51;
    border: 1px solid #D800A6;
    border-width: medium;
    margin-top: 28px;
}

input {
    display: none;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background-color: transparent;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid #D800A6;
    width: 130px;
    height: 145px;
    margin: 8px;
    color: white;
    flex-direction: column-reverse;
    align-items: center;
    border-width: medium;
    justify-content: center;
    display: inline-flex;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.boton-de-ataque img{
    width: 124px;
    height: 124px;
    display: flex;
}

#mensajes {
    width: 120px;
    background: #400D51;
    padding: 20px;
    border: double #D800A6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#boton-reiniciar{
    border: 1px solid #D800A6;
    border-radius: 20px;
    color: #31E1F7;
    background-color: #400D51;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}